# Configuration de la base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=juristeia_db
DB_USER=postgres
DB_PASS=votre_mot_de_passe

# Sécurité
JWT_SECRET=votre_secret_jwt_super_securise

# APIs Externes
CLAUDE_API_KEY=votre_cle_api_anthropic
MTN_MOMO_API_KEY=votre_cle_momo
ORANGE_MONEY_API_KEY=votre_cle_om

# Environnement
APP_ENV=development # development, production
APP_DEBUG=true
